@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #6C63FF;
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}

@keyframes l6 {
    100% {inset:0}
}

.confetti-piece {
    position: absolute;
    width: 8px;
    height: 16px;
    top: -20px;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

.progress-bar {
    height: 4px;
    background-color: #6C63FF;
    animation: progressBar 20s linear infinite;
}

@keyframes progressBar {
    from { width: 0%; }
    to { width: 100%; }
}